**Titanic**

In [1]:
import pandas as pd

In [74]:
data=pd.read_csv('https://github.com/lenhattung/SP26-AI1904-DAP391m/raw/refs/heads/main/lab_part_2/01%20-%20Linear%20and%20logistic%20regression/titanic.csv')

In [75]:
data=pd.get_dummies(data, columns=['sex', 'embarked','pclass','boat','cabin'])
data.head(5)

,passenger_id,survived,name,age,sibsp,parch,ticket,fare,body,home.dest,...,cabin_F E57,cabin_F E69,cabin_F G63,cabin_F G73,cabin_F2,cabin_F33,cabin_F38,cabin_F4,cabin_G6,cabin_T
0,1,1,"Allen, Miss. Elisabeth Walton",29.0000,0,0,24160,211.3375,NaN,"St Louis, MO",...,False,False,False,False,False,False,False,False,False,False
1,2,1,"Allison, Master. Hudson Trevor",0.9167,1,2,113781,151.5500,NaN,"Montreal, PQ / Chesterville, ON",...,False,False,False,False,False,False,False,False,False,False
2,3,0,"Allison, Miss. Helen Loraine",2.0000,1,2,113781,151.5500,NaN,"Montreal, PQ / Chesterville, ON",...,False,False,False,False,False,False,False,False,False,False
3,4,0,"Allison, Mr. Hudson Joshua Creighton",30.0000,1,2,113781,151.5500,135.0,"Montreal, PQ / Chesterville, ON",...,False,False,False,False,False,False,False,False,False,False
4,5,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",25.0000,1,2,113781,151.5500,NaN,"Montreal, PQ / Chesterville, ON",...,False,False,False,False,False,False,False,False,False,False

In [67]:
data

,passenger_id,survived,name,age,sibsp,parch,ticket,fare,cabin,body,...,boat_6,boat_7,boat_8,boat_8 10,boat_9,boat_A,boat_B,boat_C,boat_C D,boat_D
0,1,1,"Allen, Miss. Elisabeth Walton",29.0000,0,0,24160,211.3375,B5,NaN,...,False,False,False,False,False,False,False,False,False,False
1,2,1,"Allison, Master. Hudson Trevor",0.9167,1,2,113781,151.5500,C22 C26,NaN,...,False,False,False,False,False,False,False,False,False,False
2,3,0,"Allison, Miss. Helen Loraine",2.0000,1,2,113781,151.5500,C22 C26,NaN,...,False,False,False,False,False,False,False,False,False,False
3,4,0,"Allison, Mr. Hudson Joshua Creighton",30.0000,1,2,113781,151.5500,C22 C26,135.0,...,False,False,False,False,False,False,False,False,False,False
4,5,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",25.0000,1,2,113781,151.5500,C22 C26,NaN,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,0,"Zabour, Miss. Hileni",14.5000,1,0,2665,14.4542,NaN,328.0,...,False,False,False,False,False,False,False,False,False,False
1305,1306,0,"Zabour, Miss. Thamine",NaN,1,0,2665,14.4542,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1306,1307,0,"Zakarian, Mr. Mapriededer",26.5000,0,0,2656,7.2250,NaN,304.0,...,False,False,False,False,False,False,False,False,False,False
1307,1308,0,"Zakarian, Mr. Ortin",27.0000,0,0,2670,7.2250,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1308,1309,0,"Zimmerman, Mr. Leo",29.0000,0,0,315082,7.8750,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

In [76]:
df = data.sample(frac=1, random_state=42).reset_index(drop=True)

In [78]:
df.drop(columns=['passenger_id','name'], inplace=True)

dtype('O')

In [79]:
df

,survived,age,sibsp,parch,ticket,fare,body,home.dest,sex_0,sex_1,...,cabin_F E57,cabin_F E69,cabin_F G63,cabin_F G73,cabin_F2,cabin_F33,cabin_F38,cabin_F4,cabin_G6,cabin_T
0,0,35.0,0,0,STON/O 2. 3101273,7.1250,NaN,NaN,True,False,...,False,False,False,False,False,False,False,False,False,False
1,1,20.0,1,1,2653,15.7417,NaN,NaN,True,False,...,False,False,False,False,False,False,False,False,False,False
2,0,NaN,0,0,349235,7.8958,NaN,NaN,True,False,...,False,False,False,False,False,False,False,False,False,False
3,0,NaN,0,0,A/5 1478,8.0500,NaN,"Bridgwater, Somerset, England",True,False,...,False,False,False,False,False,False,False,False,False,False
4,0,NaN,0,0,370374,7.7500,NaN,NaN,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,0,NaN,0,0,330909,7.6292,NaN,NaN,False,True,...,False,False,False,False,False,False,False,False,False,False
1305,0,18.0,0,0,347087,7.7750,NaN,NaN,False,True,...,False,False,False,False,False,False,False,False,False,False
1306,0,28.5,0,0,54636,16.1000,14.0,NaN,True,False,...,False,False,False,False,False,False,False,False,False,False
1307,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,NaN,False,True,...,False,False,False,False,False,False,False,False,False,False
1308,0,28.0,0,0,349245,7.8958,NaN,NaN,False,True,...,False,False,False,False,False,False,False,False,False,False

In [85]:
df.fillna(0, inplace=True)

In [86]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

k_fold = 5
fold_size = len(data) // k_fold

X = df.drop(columns=['survived','ticket','home.dest'])
y = df['survived']

for k in range(k_fold):
    start = k * fold_size
    end = (k + 1) * fold_size

    X_test = X.iloc[start:end]
    y_test = y.iloc[start:end]

    X_train = pd.concat([X.iloc[:start], X.iloc[end:]])
    y_train = pd.concat([y.iloc[:start], y.iloc[end:]])

    model=LinearRegression()
    model.fit(X_train, y_train)
    y_pred=model.predict(X_test)
    r2=r2_score(y_test, y_pred)
    print(f"Fold {k + 1}: R-squared = {r2} ,  RMSE = {np.sqrt(mean_squared_error(y_test, y_pred))}")

Fold 1: R-squared = 0.8659231771695945 ,  RMSE = 0.1821002427050862
Fold 2: R-squared = 0.8820957693019101 ,  RMSE = 0.1659326993710378
Fold 3: R-squared = 0.9082508845938184 ,  RMSE = 0.144346278793355
Fold 4: R-squared = 0.8659269049820276 ,  RMSE = 0.1726094467724898
Fold 5: R-squared = 0.9115256200896104 ,  RMSE = 0.14629197586439138

# **Wine**

In [13]:
!wget https://archive.ics.uci.edu/static/public/186/wine+quality.zip -O wine.zip
!unzip wine.zip
!rm wine.zip

--2026-01-12 00:51:51--  https://archive.ics.uci.edu/static/public/186/wine+quality.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘wine.zip’

wine.zip                [ <=>                ]  89.21K  --.-KB/s    in 0.1s

2026-01-12 00:51:51 (736 KB/s) - ‘wine.zip’ saved [91353]

Archive:  wine.zip
  inflating: winequality-red.csv
  inflating: winequality-white.csv
  inflating: winequality.names

In [89]:
data_white=pd.read_csv('winequality-white.csv')
data_red=pd.read_csv('winequality-red.csv')

In [123]:
data_white = data_white.copy()
data_white["wine_type"] = "white"

data_red = data_red.copy()
data_red["wine_type"] = "red"

data_wine = pd.concat([data_white, data_red], ignore_index=True)

In [100]:
mixed=['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"']
mixed=mixed[0].split(';')
mixed=[i.replace('"','') for i in mixed]

In [118]:
arr = np.array(
    data_wine.iloc[0][
        'fixed acidity;"volatile acidity";"citric acid";"residual sugar";'
        '"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";'
        '"pH";"sulphates";"alcohol";"quality"'
    ].split(';'),
    dtype=float
)

In [119]:
arr

array([7.000e+00, 2.700e-01, 3.600e-01, 2.070e+01, 4.500e-02, 4.500e+01,
       1.700e+02, 1.001e+00, 3.000e+00, 4.500e-01, 8.800e+00, 6.000e+00])

In [ ]:
data_wine

In [124]:
mixed_col = (
    'fixed acidity;"volatile acidity";"citric acid";"residual sugar";'
    '"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";'
    '"pH";"sulphates";"alcohol";"quality"'
)
new_cols = [
    "fixed_acidity", "volatile_acidity", "citric_acid", "residual_sugar",
    "chlorides", "free_sulfur_dioxide", "total_sulfur_dioxide", "density",
    "pH", "sulphates", "alcohol", "quality"
]

df_split = data_wine[mixed_col].str.split(";", expand=True)
df_split.columns = new_cols
df_split = df_split.astype(float)

data_wine = pd.concat(
    [data_wine.drop(columns=[mixed_col]), df_split],
    axis=1
)

In [133]:
import statsmodels.api as sm

formula = """
quality ~ fixed_acidity + volatile_acidity + citric_acid + residual_sugar
+ chlorides + free_sulfur_dioxide + total_sulfur_dioxide + density
+ pH + sulphates + alcohol + C(wine_type)
"""

mod = sm.GLM.from_formula(
    formula=formula,
    data=data_wine
)

res = mod.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                quality   No. Observations:                 6497
Model:                            GLM   Df Residuals:                     6484
Model Family:                Gaussian   Df Model:                           12
Link Function:               Identity   Scale:                         0.53744
Method:                          IRLS   Log-Likelihood:                -7195.2
Date:                Mon, 12 Jan 2026   Deviance:                       3484.7
Time:                        02:07:02   Pearson chi2:                 3.48e+03
No. Iterations:                     3   Pseudo R-squ. (CS):             0.3434
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept               104.7518     14.136      7.411      0.000      77.047     132.457
C(wine_type)[T.white]    -0.3613      0.057     -6.367      0.000      -0.473      -0.250
fixed_acidity             0.0851      0.016      5.396      0.000       0.054       0.116
volatile_acidity         -1.4924      0.081    -18.345      0.000      -1.652      -1.333
citric_acid              -0.0626      0.080     -0.786      0.432      -0.219       0.094
residual_sugar            0.0624      0.006     10.522      0.000       0.051       0.074
chlorides                -0.7573      0.334     -2.264      0.024      -1.413      -0.102
free_sulfur_dioxide       0.0049      0.001      6.443      0.000       0.003       0.006
total_sulfur_dioxide     -0.0014      0.000     -4.333      0.000      -0.002      -0.001
density                -103.9096     14.336     -7.248      0.000    -132.008     -75.812
pH                        0.4988      0.091      5.506      0.000       0.321       0.676
sulphates                 0.7217      0.076      9.466      0.000       0.572       0.871
alcohol                   0.2227      0.018     12.320      0.000       0.187       0.258
=========================================================================================
"""

In [134]:
data_wine.drop(columns=['citric_acid'], inplace=True)

In [135]:
data_wine=data_wine.sample(frac=1, random_state=42).reset_index(drop=True)

In [137]:
df=pd.get_dummies(data_wine, columns=['wine_type'])

In [138]:
df

,fixed_acidity,volatile_acidity,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_type_red,wine_type_white
0,7.0,0.25,2.3,0.045,40.0,118.0,0.99064,3.16,0.48,11.9,7.0,False,True
1,7.6,0.14,1.6,0.040,27.0,103.0,0.99160,3.07,0.40,10.8,7.0,False,True
2,6.2,0.15,11.0,0.035,46.0,116.0,0.99602,3.12,0.38,9.1,6.0,False,True
3,6.7,0.16,12.5,0.035,18.0,156.0,0.99666,2.88,0.36,9.0,6.0,False,True
4,6.8,0.27,17.8,0.034,16.0,116.0,0.99890,3.07,0.53,9.2,5.0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.3,0.24,13.7,0.035,53.0,134.0,0.99567,3.17,0.38,10.6,6.0,False,True
6493,6.9,0.36,2.4,0.098,5.0,16.0,0.99640,3.41,0.60,10.1,6.0,True,False
6494,13.4,0.27,2.6,0.082,6.0,21.0,1.00020,3.16,0.67,9.7,6.0,True,False
6495,8.9,0.40,2.6,0.052,13.0,27.0,0.99500,3.32,0.90,13.4,7.0,True,False
6496,8.1,0.27,1.7,0.030,38.0,103.0,0.99255,3.22,0.63,10.4,8.0,False,True

In [140]:
X

,fixed_acidity,volatile_acidity,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,wine_type_red,wine_type_white
0,7.0,0.25,2.3,0.045,40.0,118.0,0.99064,3.16,0.48,11.9,False,True
1,7.6,0.14,1.6,0.040,27.0,103.0,0.99160,3.07,0.40,10.8,False,True
2,6.2,0.15,11.0,0.035,46.0,116.0,0.99602,3.12,0.38,9.1,False,True
3,6.7,0.16,12.5,0.035,18.0,156.0,0.99666,2.88,0.36,9.0,False,True
4,6.8,0.27,17.8,0.034,16.0,116.0,0.99890,3.07,0.53,9.2,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.3,0.24,13.7,0.035,53.0,134.0,0.99567,3.17,0.38,10.6,False,True
6493,6.9,0.36,2.4,0.098,5.0,16.0,0.99640,3.41,0.60,10.1,True,False
6494,13.4,0.27,2.6,0.082,6.0,21.0,1.00020,3.16,0.67,9.7,True,False
6495,8.9,0.40,2.6,0.052,13.0,27.0,0.99500,3.32,0.90,13.4,True,False
6496,8.1,0.27,1.7,0.030,38.0,103.0,0.99255,3.22,0.63,10.4,False,True

In [139]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np


k_fold = 5
fold_size = len(df) // k_fold

X = df.drop(columns=['quality'])
y = df['quality']

for k in range(k_fold):
    start = k * fold_size
    end = (k + 1) * fold_size

    X_test = X.iloc[start:end]
    y_test = y.iloc[start:end]

    X_train = pd.concat([X.iloc[:start], X.iloc[end:]])
    y_train = pd.concat([y.iloc[:start], y.iloc[end:]])

    model=LinearRegression()
    model.fit(X_train, y_train)
    y_pred=model.predict(X_test)
    r2=r2_score(y_test, y_pred)
    print(f"Fold {k + 1}: R-squared = {r2} ,  RMSE = {np.sqrt(mean_squared_error(y_test, y_pred))}")

Fold 1: R-squared = 0.33974466078111765 ,  RMSE = 0.6872387528692877
Fold 2: R-squared = 0.2667478355285987 ,  RMSE = 0.751937728877651
Fold 3: R-squared = 0.3102828655522466 ,  RMSE = 0.7342146915865085
Fold 4: R-squared = 0.2670218596590991 ,  RMSE = 0.74229604274101
Fold 5: R-squared = 0.2825975501886645 ,  RMSE = 0.7522467593284233